@model transport.Models.SearchOrderModel
<div class="container col-6 p-2 my-2 bg-white text-black text-center">
    <h5 class="pt-2">Discover one of the most advanced freight exchanges in EU</h5>
    <div class="pt-2">
        <form asp-action="Search" method="post">
        <select asp-for="From"
            asp-items="@(new SelectList(Model.countries))">
        </select>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <select asp-for="To"
                    asp-items="@(new SelectList(Model.countries))">
            </select>
            <div class="pt-2">
                <button type="submit" class="btn-secondary btn-sm">Search <i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
           
        </form>
    </div>
    OR
    <div>
        <button type="button" onclick="window.location= '@Url.Action( "GetAllWithoutSearch", "order")'" class="btn-success btn-sm">Search All <i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
   
</div>
    
